<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd"

       default-autowire="byName" default-lazy-init="true">

    <!-- Spring MVC所扫描的路径 -->
    <context:component-scan base-package="com.aturstudio">
    </context:component-scan>

    <context:component-scan base-package="com.aturstudio.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- Configures the @Controller programming model -->
    <!-- 自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 两个bean。-->
    <!-- 是spring MVC为@Controllers分发请求所必须的，即解决了@Controller注解使用的前提配置 -->
    <mvc:annotation-driven />

    <!-- 放过静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 配置拦截器-->
    <!--<mvc:interceptors>

    </mvc:interceptors>-->

    <!-- JSP views,前缀为/view/,后缀为.jsp，所有大家在Controller中不需要写前缀与后缀，表现层，我们一致使用jsp -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
        <property name="contentType">
            <value>text/html;charset=UTF-8</value>
        </property>
    </bean>

    <!-- 文件上传的控制 -->
    <!--<pojo id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="defaultEncoding" value="utf-8"></property>-->
        <!--<property name="maxUploadSize" value="10487560000"></property>-->
        <!--<property name="maxInMemorySize" value="40960"></property>-->
    <!--</pojo>-->

    <!-- Spring 刷新Introspector防止内存泄露 -->
    <!--<listener>
        <listener-class>
            org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>-->
    <!-- session超时定义,单位为分钟，清除服务端我们存储在Session中的对象，不清除Tomcat容器存储在Session中的对象 -->
    <!--<session-config>
        <session-timeout>30</session-timeout>
    </session-config>-->

</beans>